.addition {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    position: static;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
  }
}

.addition__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.addition__item {
  margin-right: 63px;
}

.addition__link {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

.addition__text {
  margin: 0;
  color: $darkgrey;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
