.btn {
  display: block;
  min-width: 175px;
  height: fit-content;
  padding: 15px 0;
  font: inherit;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: $darkgrey;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid $darkgrey;
  background-color: $white;

  &:hover {
    color: $white;
    background: linear-gradient(0deg, $darkgrey, $darkgrey);
  }

  &:focus,
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background: linear-gradient(0deg, $darkgrey, $darkgrey);
  }
}
