.contacts {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 52px;
    row-gap: 35px;
    margin-bottom: 20px;
  }
}

.contacts__container {
  margin-bottom: 15px;
}

.contacts__title {
  position: relative;
  margin: 0;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      position: absolute;
      width: 46px;
      height: 81px;
      top: -23px;
      right: 4px;
      background-image: url("../img/icon-flag.svg");

      @media (min-width: $desktop-width) {
        top: 60px;
        left: -113px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 33px;
    padding-top: 80px;
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__list {
  margin: 0;
  color: $darkgrey;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.contacts__item {
  display: flex;
  width: 100%;
  margin-bottom: 31px;
  font-size: 15px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    width: 50%;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.contacts__feature {
  width: 31%;

  @media (min-width: $tablet-width) {
    width: 23%;
  }

  @media (min-width: $desktop-width) {
    width: 22%;
  }
}

.contacts__value {
  margin: 0;
}

.contacts__link {
  text-decoration: none;
  padding-bottom: 2px;
  color: inherit;
  border-bottom: 1px solid #62d1ba;

  &:hover,
  &:focus {
    color: #46c1ae;
    border-color: #46c1ae;
  }

  &:focus {
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 8px;
  }
}

.contacts__btn {
  margin: 0 30px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 175px;
  }
}
