.content {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    bottom: 15px;
  }
}

.content__container {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.content__link {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 18px;
  padding-left: 30px;
  padding-right: 27px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 50%;
    padding-top: 25px;
    padding-bottom: 29px;
    padding-left: 36px;

    &:hover {
      margin-top: -5px;
      padding-bottom: 34px;
    }

    &:focus {
      outline: none;
      transform: none;
    }
  }
}

.content__link--left {
  background-color: $maincolor;

  &:hover,
  &:focus,
  &:active {
    background-color: #59d5bc;
  }
}

.content__link--right {
  background-color: #56c3b2;

  &:hover,
  &:focus,
  &:active {
    background-color: #46c1ae;
  }
}

.content__link-icon {
  fill: #149080;
  fill-opacity: 0.5;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 28px;
    right: 34px;
  }
}

.content__link:hover .content__link-icon {
  fill-opacity: 0.7;
}

.content__link:focus .content__link-icon {
  fill-opacity: 0.3;
}

.content__link-text {
  width: 160px;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $white;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
