.container {
  margin: 0 auto;

  &__index,
  &__catalog,
  &--form {
    padding: 0 30px;
  }

  @media (min-width: $tablet-width) {
    &--main,
    &__index,
    &--content,
    &__catalog,
    &--form {
      padding: 0 50px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px;
    max-width: 1150px;

    &__index {
      padding-right: 0;
      padding-left: 175px;
    }

    &__catalog {
      padding: 0;
    }

    &--form {
      padding: 0 225px 0 110px;
    }
  }
}
