.field-text {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding-right: 25px;
    font-size: 19px;

    &--user-contact {
      padding-right: 0;
    }
  }
}

.field-text__input {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 17px 10px 17px 0;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  color: $black;
  border: none;
  box-shadow: inset 0 -2px 0 $black;
  background-color: transparent;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);

    @media (min-width: $tablet-width) {
      font-size: 19px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: inset 0 -2px 0 #62d1ba;
  }

  @media (min-width: $tablet-width) {
    padding-left: 18px;
  }
}

.field-text__input--textarea {
  padding-left: 15px;
  padding-bottom: 12px;
  border: 2px solid $darkgrey;
  box-shadow: none;

  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
    border: 2px solid #62d1ba;
  }
}
