.footer {
  background-color: $lightgrey;
}

.footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
  }
}

.footer__logo {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-right: 77px;
  }
}

.footer__socials {
  padding-top: 24px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer__copyright {
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-top: none;
  }
}

.footer__link {
  &:hover,
  &:focus,
  &:active {
    path {
      fill: #46c1ae;
    }
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

.copyright .footer__link {
  @media (min-width: $tablet-width) {
    padding-top: 7px;
  }
}
