.footer {
  background-color: $lightgrey;
}

.footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 47px;
    padding-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
  }
}

.footer__logo {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.footer__socials {
  padding-top: 24px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer__copyright {
  margin: 0 30px;
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    border-top: none;
  }
}

.copyright .footer__link {
  @media (min-width: $tablet-width) {
    padding-top: 7px;
  }
}
