.footer {
  background-color: $lightgrey;
}

.footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 48px;
  }
}

.footer__logo {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.footer__logo-link {
  &:hover {
    fill: #46c1ae;
  }

  &:focus,
  &:active {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

.footer__socials {
  padding-top: 23px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer__copyright {
  margin: 0 30px;
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    border-top: none;
  }
}
