.form-main__desc {
  margin: 0;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-top: -13px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 73px;
  }
}
