.main-nav {
  position: relative;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-nav--closed .nav-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #231f20;
  box-shadow: 0 5px 0 0 #231f20, 0 10px 0 0 #231f20;
}

.main-nav--closed .nav-toggle:active::before {
  background-color: rgba(#231f20, 0.3);
  box-shadow:
    0 5px 0 0 rgba(#231f20, 0.3),
    0 10px 0 0 rgba(#231f20, 0.3);
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }

  .main-nav--nojs .nav-toggle {
    display: none;
  }
}

.main-nav--opened .nav-toggle {
  top: -53px;
  right: 39px;
  height: 21px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba($black, 0.3);
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 29px 20px 26px 76px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;
  text-decoration: none;
  box-shadow: 0 1px 0 $bordercolor, inset 0 1px 0 $bordercolor;

  @media (min-width: $tablet-width) {
    padding: 0;
    box-shadow: none;
  }

  &:hover {
    color: fade-out($black, 0.6);
  }

  &:focus,
  &:active {
    color: fade-out($black, 0.3);
  }
}
