.main-nav {
  position: relative;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.main-nav__item {
  padding: 27px 30px 27px 76px;
  box-shadow: 0 1px 0 $bordercolor, inset 0 1px 0 $bordercolor;

  @media (min-width: $tablet-width) {
    padding: 0;
    box-shadow: none;
  }
}
