.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: none;
  margin: auto;
}

.modal__show {
  display: block;
}

.modal__close {
  position: absolute;
  top: 14px;
  right: 16px;
  width: 18px;
  height: 17px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__close::before,
.modal__close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: $darkgrey;
}

.modal__close::before {
  transform: rotate(45deg);
}

.modal__close::after {
  transform: rotate(-45deg);
}
