.nav-toggle {
  position: absolute;
  top: -46px;
  right: 32px;
  z-index: 2;
  display: block;
  width: 20px;
  height: 14px;
  cursor: pointer;
  border: none;
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
