.products-catalog {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
  }
}

.products-catalog__cards {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 30px;

  @media (min-width: $tablet-width) {
    gap: 53px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 52px;
  }
}
