.product {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: space-between;
  }
}

.product__item {
  display: flex;
  flex-direction: column;
  min-height: 179px;
  padding: 0 28px;
  border: 1px solid $bordercolor;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:focus {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 0 33px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    min-height: 195px;
    padding: 0 27px;
  }
}

.product__title {
  margin: 0;
  margin-bottom: 6px;
  padding-top: 27px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.product__link-img {
  line-height: 0;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.product__link-img img {
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 100%;
    object-fit: cover;
  }
}

.product__link {
  text-decoration: none;
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

.product__desc {
  margin: 0;
  margin-bottom: 19px;
  font-size: 13px;
  line-height: 30px;
  color: $darkgrey;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 15px;
  }
}

.product__block {
  position: relative;
  margin-top: auto;
  padding: 23px 0;
  border-top: 1px solid $bordercolor;
}

.product__cost {
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.product__cost-icon {
  position: absolute;
  top: 22px;
  right: 0;
  width: 20px;
  height: 19px;
}

.product__icon {
  opacity: 0.2;
  fill: $black;

  &:hover {
    fill: $maincolor;
    opacity: 1;
  }

  &:focus,
  &:active {
    fill: fade-out($maincolor, 0.2);
  }
}
