.radiobuttons__label {
  position: relative;
  display: flex;
  margin-bottom: 24px;
  cursor: pointer;
  user-select: none;
  padding-left: 60px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
    padding-left: 80px;
    font-size: 19px;
    line-height: 18px;
  }
}

.radiobuttons__label:last-child {
  margin-bottom: 0;
}

.radiobuttons__input {
  margin: 0;
  appearance: none;
}

.radiobuttons__name {
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    width: 40px;
    height: 40px;
    border: 2px solid $darkgrey;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-width: $tablet-width) {
      top: -17px;
      left: 2px;
      width: 50px;
      height: 50px;
    }
  }
}

.radiobuttons__input:checked ~ .radiobuttons__name::after {
  content: "";
  position: absolute;
  left: 12px;
  top: 3px;
  width: 16px;
  height: 16px;
  border: 2px solid #62d1ba;
  border-radius: 50%;
  background-color: #62d1ba;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    top: -2px;
    left: 17px;
    width: 20px;
    height: 20px;
  }
}

.radiobuttons__input:hover + .radiobuttons__name::before {
  border: 2px solid #62d1ba;
}

.radiobuttons__input:focus + .radiobuttons__name::before {
  border: 2px solid rgba(0, 0, 0, 0.3);
}
