@media (min-width: $tablet-width) {
  .site-list {
    order: 1;
    width: 63%;
  }

  .site-list__item {
    margin-right: 37px;
  }

  .site-list__link {
    padding-top: 20px;
    font-size: 15px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    order: 0;
    position: relative;
    padding-top: 0;
    width: 40%;
    min-height: 89px;
  }

  .site-list__item:not(:last-child) {
    margin-right: 70px;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 88px;
      top: 0;
      left: 183px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .site-list__link {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 17px;
  }
}
