.social {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

.social__link:not(:last-child) {
  margin-right: 40px;
}

.social__link-icon {
  fill: #231f20;

  &:hover,
  &:focus,
  &:active {
    fill: #46c1ae;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}
