.user-list__icon {
  position: absolute;
  top: 33px;
  left: 32px;
  width: 18px;
  height: 18px;
  opacity: 0.2;
  fill: $black;

  &:hover {
    fill: $maincolor;
    opacity: 1;
  }

  &:focus,
  &:active {
    fill: fade-out($maincolor, 0.2);
  }
}

.user-list__search-icon {
  top: 33px;
  left: 32px;
  width: 18px;
  height: 18px;

  @media (min-width: $tablet-width) {
    top: 5px;
  }
}

.user-list__cart-icon {
  top: 31px;
  left: 32px;
  width: 20px;
  height: 19px;

  @media (min-width: $tablet-width) {
    top: 2px;
  }
}

@media (min-width: $tablet-width) {
  .user-list {
    margin-left: 46%;
    width: 100%;
    min-height: 88px;
    justify-content: flex-end;
  }

  .user-list__item a {
    padding-left: 84px;
  }

  .user-list__search {
    font-size: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -32px;
      left: 0;
      width: 1px;
      height: 88px;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &::after {
      left: 83px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    margin-left: 0;
    width: auto;
  }
}
