.user-contact {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    padding-top: 47px;
    padding-bottom: 26px;
    background-color: $lightgrey;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 30px;
  }
}

.user-contact__name {
  margin-bottom: 3px;
}

.user-contact__item {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}
