.user-contact {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    padding-top: 47px;
    padding-bottom: 25px;
    background-color: $lightgrey;
  }
}

.user-contact__name {
  margin-bottom: 3px;
}

.user-contact__item {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
    margin-bottom: 25px;
  }
}

.user-contact__icon {
  position: absolute;
  top: 11px;
  right: 6px;
  fill: $black;
  opacity: 0.2;

  @media (min-width: $tablet-width) {
    right: 25px;
  }

  @media (min-width: $desktop-width) {
    right: 6px;
  }
}

.field-text__input:hover + .user-contact__icon,
.field-text__input:focus + .user-contact__icon,
.field-text__input:active + .user-contact__icon {
  fill: #62d1ba;
  opacity: 1;
}
