@media (min-width: $tablet-width) {
  .user-list {
    margin-left: 46%;
    width: 100%;
    min-height: 89px;
    justify-content: flex-end;
  }

  .search {
    width: 83px;
    height: 88px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0;
  }

  .cart {
    padding-left: 80px;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    margin-left: 0;
    width: auto;
  }
}
