.user-contact {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    padding-top: 49px;
    padding-bottom: 25px;
    background-color: $lightgrey;
  }
}

.user-contact__name {
  margin-bottom: 3px;
}

.user-contact__item {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
    margin-bottom: 25px;
  }
}
